$-primary-dark: #093150;
$-primary: #282832;
$-primary-80: #282832cc;
$-turquoise-50: #96F0FF;
$-secondary-50: #96F0FF;
$-secondary-80: #79EBFF;
$-stoneGray-20:#F3F2F0;
$-stoneGray-45: #E2DED9;

$-accent:#fff;

$-warning: #D2842E;
$-success: #51C38D;
$-danger: #EC4A1D;
$-info: #46D1E6;
