
@font-face {
  font-family:'AR';
  src: url('../fonts/Aeonik-Regular.otf');
}

@font-face {
  font-family:'AB';
  src: url('../fonts/Aeonik-Bold.otf');
}

@font-face {
  font-family:'sb';
  src: url('../fonts/simula_Book.otf');
}



.AB{
  font-family:AB;
}

.sb{
font-family:sb;
}



// @font-face {
//     font-family: 'aeonikregular';
//     src: url('../fonts/Aeonik-Regular.woff2') format('woff2'),
//       url('../fonts/Aeonik-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//   }

//   @font-face {
//     font-family: 'aeoniklight';
//     src: url('../fonts/Aeonik-Light.woff2') format('woff2'),
//       url('../fonts/Aeonik-Light.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//   }

//   @font-face {
//     font-family: 'aeonikbold';
//     src: url('../fonts/Aeonik-Bold.woff2') format('woff2'),
//       url('../fonts/Aeonik-Bold.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//   }

//   @font-face {
//     font-family: 'aeonikregular-italic';
//     src: url('../fonts/Aeonik-RegularItalic.woff2') format('woff2'),
//       url('../fonts/Aeonik-RegularItalic.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//   }

//   @font-face {
//     font-family: 'simulabook';
//     src: url('../fonts/Simula-Book.woff2') format('woff2'),
//       url('../fonts/Simula-Book.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//   }

//   @font-face {
//     font-family: 'CircularStd-Medium';
//     src: url('../fonts/CircularStd-Medium.woff2') format('woff2'),
//       url('../fonts/CircularStd-Medium.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//   }

  