@import "/src/assets/scss/global/common";
.btn {
    font-family: Aeonik;
    color: #7E7E84;
    border: 1px solid #7E7E84;
    background-color: transparent;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    cursor: pointer;
    height: 60px;
    max-width: 370px;
    font-size: 18px;
    line-height: 1.3;
    padding: 0px 30px;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    flex-wrap: nowrap;
    outline: none;
    margin: auto;
    -o-transition: all 0s ease-in-out;
    -ms-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -webkit-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
    align-items: center;
    display: flex;
    height: 60px;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    font-family:AR;

    @include mq($until: desktop) {
        max-width: 305px;
        width:100%;
    }

    &:hover {
        background-color: $-primary;
        color: #fff;
    }

    &.solid {
        background-color: $-primary;
        color: #fff;
        border: 1px solid transparent;

        &:hover {
            background-color: $-primary;
            color: #fff;
            border: 1px solid transparent;
        }
    }

    &.normal-solid-secondary {
        background-color: transparent;

        &:hover {
            color: $-primary ;
            border: 1px solid $-secondary-50;
            background-color: $-secondary-50;
        }
    }

    &.solid-secondary {
        background-color: $-turquoise-50;
        color: $-primary;
        border: $-turquoise-50;

        &:hover {
            background-color: $-secondary-80;
        }
    }

    &.solid-shadow {
        background-color: $-secondary-50;
        color: $-primary;
        border: $-turquoise-50;
        @include box-shadow (0px 4px 10px rgba(40, 40, 50, 0.1));

        &:hover {
            @include box-shadow (0px);
            box-shadow: none;
        }
    }
}

